.myContainer {
  margin-top: 30px;
  max-width: 550px;
}

.form {
  margin-top: 30px;
}

.add-button {
  margin-top: 10px;
}

.ul-items {
  margin-top: 30px;
}

.item {
  display: flex;
  align-items: center;
}

.todo-item {
  margin-left: 10px;
}

.delete-button {
  margin-left: auto;
}

.checkbox:hover {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}
